#form{
  margin: auto;
display: block;
  height: 283px;
  width: 952px;
}
#date{
  float:left;
}
#ferries{
  float:left;
  display: inline-block;
  height: 283px;
  width: 476px;
  border: 1px solid #111;

  >:nth-child(even) {
    background-color: #ffbcb1;
  }
  >:nth-child(odd){
    background-color: lightgrey;
  }
}

.timetable {
  display: block;
  border-bottom: 1px solid grey;
  padding: 15px;
  opacity: 0.8;
}
.timetable:hover, .timetable:focus {
  opacity: 1;
}

.name{
  font-size: 20px;
  display: inline-block;
  cursor: default;
}

.time{
  font-size: 16px;
  display: inline-block;
  cursor: default;
}