#ferries {
  //float: left;
  display: inline-block;
  //height: 283px;
  //overflow: auto;
}

#ferries table.table.table-bordered tbody {
  >:nth-child(even) {
    background-color: #ffffff;
  }
  >:nth-child(odd) {
    background-color: #cdfffa;
  }
}

#ferries table.table.table-bordered tbody th {
  background-color: #2e3641;
  color: white;
  font-weight: 500;
  //border-right-color: #2e3641;
}

.date {
  display: inline-block;
  font-size: 14px;
}

#ferries td {
  padding: 60px 80px;
  font-size: 18px;
  vertical-align: middle;
}

.datetime_from {
  display: inline-block;
  margin-right: 25px;
}

.datetime_to {
  display: inline-block;
}