#ferries {
  float:left;
  display: inline-block;
  height: 283px;
  //width: 476px;
  overflow: auto;

  >:nth-child(even) {
    background-color: #ffbcb1;
  }
  >:nth-child(odd){
    background-color: lightgrey;
  }
}

.timetable {
  display: block;
  border-bottom: 1px solid grey;
  opacity: 0.8;
}
.timetable:hover, .timetable:focus {
  opacity: 1;
}

.timetable_head {
  background-color: #aaaaaa !important;
  display: block;
  border-bottom: 1px solid grey;
}

.name {
  font-size: 18px;
  display: inline-block;
  cursor: default;
  border-right: 1px solid black;
  width: 125px;
  padding: 15px;
}

.time {
  font-size: 18px;
  display: inline-block;
  cursor: default;
  border-right: 1px solid black;
  width: 65px;
  padding: 15px 0 15px 5px;
}

.direction {
  font-size: 18px;
  display: inline-block;
  cursor: default;
  border-right: 1px solid black;
  width: 125px;
  padding: 15px 0 15px 5px;
}