.form_img {
  background-image: url('http://luxfon.com/images/201203/luxfon.com_10177.jpg'), url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;

  height: 100%;
  position: fixed;
  width: 100%;
}

.form {
  position: absolute;
  top: 60px;
}

#form {
  display: block;
  background-color: rgba(0,0,0,0.5);
  padding: 25px;
}

#date_field {
  //width: 476px !important;
}

html body div.form_img div#form b {
  display: block;
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

#error_date {
  color: red;
  display: inline-block;
}

.btn-orange {
  color: white;
  background-color: #F03C07;
  font-size: 16px;
  border: 0;
  padding: 15px 10px;
}

.btn-orange:hover,
.btn-orange:focus {
  color: white;
  background-color: #d83707;
}

.input-group-btn.direction_form > .btn {
  margin: 0 5px;
  font-size: 20px;
  height: auto;
  padding: 10px;
}

.direction_form_input {
  display: inline-block;
  font-size: 20px;
  height: auto;
  width: 200px !important;
}

.inline {
  display: inline-block;
}

.inline button.btn.btn-default {
  margin: 0;
  font-size: 20px;
  height: auto;
  //padding: 10px;
}