#form {
  //margin: auto;
  display: block;
  height: 283px;
  //width: 952px;
}
#date {
  float:left;
  margin-right: 20px;
}

.hidden_fields {
  display: none;
}

.pay_cost {
  display: inline-block;
  margin-left: 10px;
}