%nav.navbar.navbar-default
  .container-fluid
    .col-md-2
    .col-md-10
      .navbar-header
        %a.navbar-brand{:href => root_path}
          %span.glyphicon.glyphicon-glass{"aria-hidden" => "true", style: 'color: #ED3E05;'}
          Miami to Cuba